In [1]:
import pandas as pd
df=pd.read_excel('/content/Heart Disease.xlsx')
df.describe(include='all')

              member         age  sex  ...        thal   bt      target
count     301.000000  303.000000  302  ...  303.000000  298  303.000000
unique           NaN         NaN    2  ...         NaN    5         NaN
top              NaN         NaN    M  ...         NaN    O         NaN
freq             NaN         NaN  206  ...         NaN  115         NaN
mean    48332.657807   54.366337  NaN  ...    2.313531  NaN    0.544554
std       877.940533    9.082101  NaN  ...    0.612277  NaN    0.498835
min     46820.000000   29.000000  NaN  ...    0.000000  NaN    0.000000
25%     47580.000000   47.500000  NaN  ...    2.000000  NaN    0.000000
50%     48340.000000   55.000000  NaN  ...    2.000000  NaN    1.000000
75%     49090.000000   61.000000  NaN  ...    3.000000  NaN    1.000000
max     49840.000000   77.000000  NaN  ...    3.000000  NaN    1.000000

[11 rows x 16 columns]

# Question 1: Statistics

In [2]:
n_at_median, n_at_mode, mode, nzero, nmissing=[],[],[],[],[]
stat=pd.DataFrame()
stat['cardinality']=df.nunique()
stat['mean']=df.mean()
stat['median']=df.median()
stat['stddev']=df.std()
stat['min']=df.min()
stat['max']=df.max()
median=list(stat['median'])
columns=list(df.columns)
j=0
for i in columns:
  m=median[j]
  mo=df[i].mode().iat[0]

  mode.append(mo)
  n_at_median.append((df[i]==m).sum())
  n_at_mode.append((df[i]==mo).sum())
  nzero.append((df[i]==0).sum())
  nmissing.append(df[i].isnull().sum())

  j+=1

stat.insert(3,'n_at_median', n_at_median)
stat.insert(4,'mode', mode) 
stat.insert(5,'n_at_mode', n_at_mode) 
stat['nzero']=nzero
stat['nmissing']=nmissing
s=['cardinality','mean','median','n_at_median','mode','n_at_mode','stddev','min','max','nzero','nmissing']
stat_tran = stat.T
stat_t=stat_tran
stat_t.insert(0,'stat', s) 
stat_t.to_excel('/content/statistics.xlsx', index = False)
stat_t

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

                    stat        member        age  ...      thal   bt    target
cardinality  cardinality           301         41  ...         4    5         2
mean                mean  48332.657807  54.366337  ...  2.313531  NaN  0.544554
median            median       48340.0       55.0  ...       2.0  NaN       1.0
n_at_median  n_at_median             1          8  ...       166    0       165
mode                mode       46820.0         58  ...         2    O         1
n_at_mode      n_at_mode             1         19  ...       166  115       165
stddev            stddev    877.940533   9.082101  ...  0.612277  NaN  0.498835
min                  min       46820.0       29.0  ...       0.0  NaN       0.0
max                  max       49840.0       77.0  ...       3.0  NaN       1.0
nzero              nzero             0          0  ...         2    0       138
nmissing        nmissing             2          0  ...         0    5         0

[11 rows x 17 columns]

# Question 3 b): missing values

In [3]:
for i in columns:
  print(i,'-',df[i].isnull().sum(),' missing')

member - 2  missing
age - 0  missing
sex - 1  missing
cp - 1  missing
trestbps - 1  missing
chol - 3  missing
fbs - 7  missing
restecg - 1  missing
thalach - 35  missing
exang - 1  missing
oldpeak - 1  missing
slope - 2  missing
ca - 5  missing
thal - 0  missing
bt - 5  missing
target - 0  missing

# Question 3 d): outliers

In [4]:
# outliers
col=['member', 'age', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']
for c in col:
  q1=df[c].quantile(0.25)
  q3=df[c].quantile(0.75)
  iqr=q3-q1
  l_lim=q1-(1.5*iqr)
  u_lim=q3+(1.5*iqr)
  mem=list(df[c])
  o_l=[i for i in mem if i<l_lim]
  u_l=[i for i in mem if i>u_lim]
  print("outliers in ",c," : ",len(o_l)+len(u_l))

outliers in  member  :  0
outliers in  age  :  0
outliers in  cp  :  0
outliers in  trestbps  :  9
outliers in  chol  :  5
outliers in  fbs  :  45
outliers in  restecg  :  0
outliers in  thalach  :  1
outliers in  exang  :  0
outliers in  oldpeak  :  5
outliers in  slope  :  0
outliers in  ca  :  25
outliers in  thal  :  2
outliers in  target  :  0

# Question 4: Correlation and Covariance Matrix

In [5]:
cov=pd.DataFrame.cov(df)
cor=df.corr()
cov.insert(0,'column', col) 
cor.insert(0,'column', col) 
cov.to_excel('/content/cov.xlsx', index = False)
cor.to_excel('/content/cor.xlsx', index = False)

In [6]:
cov

            column         member  ...        thal      target
member      member  770779.579181  ...  138.158361 -378.277409
age            age    1485.511960  ...    0.378139   -1.021343
cp              cp    -368.049052  ...   -0.100328    0.225540
trestbps  trestbps    1703.156299  ...    0.672724   -1.275770
chol          chol     849.032043  ...    2.959699   -2.075518
fbs            fbs      -5.554433  ...   -0.008280   -0.003459
restecg    restecg      -8.759532  ...   -0.002662    0.035159
thalach    thalach   -8177.454310  ...   -1.151168    4.667393
exang        exang     147.931327  ...    0.058129   -0.101472
oldpeak    oldpeak     308.318584  ...    0.148872   -0.252168
slope        slope    -150.857669  ...   -0.039579    0.106722
ca              ca     332.204650  ...    0.090254   -0.197501
thal          thal     138.158361  ...    0.374883   -0.105075
target      target    -378.277409  ...   -0.105075    0.248836

[14 rows x 15 columns]

In [7]:
cor

            column    member       age  ...        ca      thal    target
member      member  1.000000  0.185808  ...  0.374141  0.256390 -0.863288
age            age  0.185808  1.000000  ...  0.275932  0.068001 -0.225439
cp              cp -0.408005 -0.065252  ... -0.181187 -0.158809  0.437885
trestbps  trestbps  0.110312  0.279508  ...  0.100169  0.062470 -0.145548
chol          chol  0.018508  0.217346  ...  0.069296  0.093505 -0.079997
fbs            fbs -0.017950  0.117935  ...  0.139262 -0.037614 -0.019244
restecg    restecg -0.019009 -0.114066  ... -0.070504 -0.008272  0.134078
thalach    thalach -0.409539 -0.362776  ... -0.168381 -0.082123  0.413508
exang        exang  0.358983  0.106317  ...  0.117729  0.202530 -0.433899
oldpeak    oldpeak  0.300974  0.212657  ...  0.231374  0.209090 -0.435385
slope        slope -0.278008 -0.170891  ... -0.089046 -0.104535  0.346633
ca              ca  0.374141  0.275932  ...  1.000000  0.143738 -0.385114
thal          thal  0.256390  0.068001  ...  0.143738  1.000000 -0.344029
target      target -0.863288 -0.225439  ... -0.385114 -0.344029  1.000000

[14 rows x 15 columns]